.container-slider {
  width: 795px;
  height: 675px;
  margin: 5%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  /* border: 2px solid black; */
}

.picture-container {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  /* height: 50%; */
  margin: 2px;
  border-radius: 2%;
  /* padding: 5px; */
  align-items: center;
}

.slide {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  /* border: 1px solid black; */
}

.slide img {
  width: 100%;
  height: 500px; 
  object-fit: contain;
  object-position: center;
}

.active-anim {
  opacity: 1;
}

.picture-nav-container {
  position: absolute;
  bottom: 110px;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  width: inherit;
  height: 50px;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  
}

.right-arrow {
  /* position: absolute; */
  /* right: 25%; */
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  /* position: absolute; */
  font-size: 3rem;
  /* left: 25%; */
  color: #000;
  cursor: pointer;
  user-select: none;
}

.container-dots {
  /* position: absolute; */
  /* bottom: 10px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}

.thumbnail-container {
  position: absolute;
  bottom: 2px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 125px;
  align-items: center;
  margin: 1px;
}

.thumbnail img{
  width: 75px;
  height: 75px;
  border-radius: 10%;  
}

.thumbnail.active {
  border: 3px solid black;
  border-radius: 15%;
}