.dropdown-left {
  height: 800px;
  width: 500px;
  position: absolute;
  z-index: 6;
  top: 50px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #f9f9f2;
  box-shadow:0 0 0 10000px rgba(0,0,0,.50);
  border-right: 5px solid grey;
  transition: width 3s ease-in-out;
}

.dropdown-right {
  height: 820px;
  width: 600px;
  position: absolute;
  z-index: 6;
  top: 50px;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  // padding-top: 20px;
  background-color:#f9f9f2;
  box-shadow:0 0 0 10000px rgba(0,0,0,.50);
  transition: width 2s ease-in-out;
  border-left: 5px solid grey;
}

.dropdown-middle {
  height: 300px;
  width: 100%;
  position: absolute;
  z-index: 6;
  top: 50px;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  background-color:#f9f9f2;
  box-shadow:0 0 0 10000px rgba(0,0,0,.50);
  transition: height 3s ease-in-out;
  border-bottom: 5px solid grey;
}


.dropdown-left li {
  cursor: pointer;
  font-size: 200%;
  padding-bottom: 25px;
  text-decoration: none;
  margin: 20px;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  display: inline-flexbox;
}

.dropdown-left li:hover {
  background-position: 0 100%;
  font-style: italic;
  font-family: 'Dancing Script', cursive;
}

.dropdown-menu.clicked {
  display: block;
}

.dropdown-left .close-icon {
  position: absolute;
  top: 10px;
  width: 70px;
  right: 0px;
}


.dropdown-middle .close-icon {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 50px;
}

.dropdown-right .close-icon {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 70px;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}