.edit-modal-container {
  background-color: #f9f9f2;
	border-radius: 24px;
	box-sizing: border-box;
	border: #565656;
	box-shadow: 1px 5px 5px rgb(104, 102, 102);
	padding: 20px;
	padding-bottom: 40px;
  width: 350px;
  height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.edit-modal-container #edit-header {
	display: block;
	margin: auto;
  top: 5px;
	font-size: 25px;
	font-weight: bold;
}

.edit-modal-container form {
	width: 100%;
	height: 350px;
	margin-top: 10px;
}

.user-edit-buttons {
	margin-bottom: 1%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	box-sizing: inherit;
	width: inherit;
	height: 120px;
}

#submit-button {
	background-color: #FAEBD7;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	height: 40px;
	border-radius: 5px;
	border: none;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 3px 3px 3px rgb(99, 96, 91);

}

.cancel-button {
	background-color: #FAEBD7;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	height: 40px;
	border-radius: 5px;
	border: none;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 3px 3px 3px rgb(99, 96, 91);

 }

.login-form {
  display: flex;
	flex-direction: column;
	/* justify-content: space-evenly;  */
	width: 100%;
	margin-top: 10px;
	align-items: center;
}

.login-form input[type="text"] {
   padding-top: 9px;
	 padding-bottom: 9px;
	 padding-right: 12px;
	 padding-left: 12px;
	 border-width: 1px;
	 width: 200px;
	 height: inherit;
	 font-size: 14px;
	 outline: none;
	 display: inline-table;
	 border-radius: 6px;
	 border-color: #565656;
}

.login-form input[type="password"] {
   padding-top: 9px;
	 padding-bottom: 9px;
	 padding-right: 12px;
	 padding-left: 12px;
	 border-width: 1px;
	 width: 200px;
	 height: inherit;
	 font-size: 14px;
	 outline: none;
	 display: inline-table;
	 border-radius: 6px;
	 border-color: #565656;
}

.errors-container {
  display: flex;
	width: 100%;
  color: red;
}
  
.error {
	font-size: 11px;
	margin: 4px;
	width: inherit;
}