.login-form-container {
    background-color: #f9f9f2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 64vh;
    border-bottom: 1px solid lightgray;
}

.login-title{
  margin-top: 50px;
  margin-left: 50px;
  font-size: 35px;
}

.account-form {
  display: flex;
  flex-direction: column;
  justify-content: right;
  background-color: #f9f9f2;
  max-width: 400px;
  width: 100%;
  align-items: right;
}
  
.account-form >*{
  /* align-items: right; */
  justify-content: right;
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
}

.account-form .form-input {
  width: 90%;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  padding: 19px 20px;
  margin-bottom: 19px;
  margin-top: 8px;
  font-weight: 400;
}

.account-form button {
    align-self: center;
    width: 100%;
    font-weight: 600;
    font-size: .75em;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #000;
    padding: 23px 0px;
    border-radius: 2px;
    color: #fff;
    border: 2px solid transparent;
    transition: .3s ease-in-out;
}

.login-button-box{
  display: flex;
  justify-content: space-between;
}

.login-button-box >* {
  width: 150px;
  padding: 15px;
  background-color: #f9f9f2;
  border-radius: 20px;
  border: 1px solid grey;
  color: rgb(56, 56, 56);
  font-family: inherit;
}

input {
  align-self: center; 
}

.login-footer-box{
  align-items: left;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.login-footer-box >* {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}