
.main-page-container  {
  /* width: 100%; */
  height: max-content;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  overflow-x: hidden;
  
}


.top-container {
  display: block;
  height: 750px;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.35);
}

.mid-title {
  position: absolute;
  font-size: 100px;
  color: white;
  top: 90px;
  margin: 30px;
  font-weight: 900;
  z-index: 0;
}

.top-container img {
  position: absolute;
  object-fit: cover;
  width: 99.9%;
  height: 750px;
  z-index: -1;
  display: flex;
  
  position: center;
  overflow-x: hidden;
}

.top-container button{
  display: block;
  background-color: #FAEBD7;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	height: 40px;
  margin: 22% 3%;
	border-radius: 5px;
	border: none;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 3px 3px 3px rgb(99, 96, 91);
  z-index: 1;
}