/* footer {
position: relative;
bottom: 0;
} */

.footer-container{
  height: 30vh;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f2;
  /* position: relative;
  bottom: 0; */
}

.header-footer {
  height: 30%;
  display: flex;
  border-bottom: 1px solid lightgray;
  justify-content: space-around;
}

.header-footer a {
  position: relative;
  /* left: 850px; */
  top: 10px;
  
  text-decoration: none;
}

.email-icon {
  width: 30px;
  height: 30px;
  color: black;
}

.email-contact {
  position: relative;
  top: -7px;
  color: black;
  
}

.footer-info-container {
  height: 80%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */
}

.footer-info-container .left-info {
  display: block;
  height: inherit;
  width: 20%;
  margin: 20px;
  border-right: 1px solid lightgrey;
}

.center-container h2 {
  font-size: 25px;
  font-weight: 900;
  padding: 2px;
}
.center-container p {
  display: block;
  padding-top: 10px;
}

.center-container h2, p {
  position: relative;
  top: 20px;
}

.center-container {
  width: 50%;
}

.technology-container {
  position: relative;
  left: 20px;
  top: 1px;
} 

.technology-container h1 {
  font-size: 25px;
  font-weight: 900;
  padding-bottom: 5px;
}

.right-info {
  
  width: 20%;   
  border-left: 1px solid lightgrey;
  margin: 20px;
}

.social-links {
  position: relative;
  width: inherit;
  left: 40px;
  top: -10px;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

/* body, .flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	height: 100vh;
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
} */


.social-btn {
	cursor: pointer;
	height: 50px;
	width: 50px;
	font-family: 'Titillium Web', sans-serif;
	color: #333;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	background: white;
	margin: 5px;
	transition: 1s;
}

.social-btn button {
  border: none;
  background-color: white;
}

.angel-img, .linkedin-img, .gitbhub-img {
  position: relative;
  /* left: 5px; */
  top: 5px;
  height: 38px;
  width: 38px;
  color: black;
}


.social-btn span {
	width: 0px;
	overflow: hidden;
	transition: 1s;
	text-align: center;
  opacity: 0;
}

.social-btn:hover {
	width: 175px;
	border-radius: 5px;
}

.social-btn:hover span {
	padding: 2px;
	width: fit-content;
  opacity: 1;
}

#angel-list .angel-img {
	fill: #1da1f2;
}

#linkedin .linkedin-img {
	fill: #0e76a8;
}

#github .gitbhub-img {
	fill: #333;
}
